{% extends "base.html" %}

{% block title %}commonwisdom -- here are your files{% endblock %}

{% block content %}
    <h2>File list</h2>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                {% for file in files %}
                    <li class="list-group-item">
                        <h3>{{file.fileName}}
                            <small>
                                <a href="/view/{{file.fileName}}">View</a>
                                <a href="/edit/{{file.fileName}}">Edit</a>
                                Last modified: {{file.lastModified}}
                            </small>
                        </h3>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}